<h1>Welcome to the stock information app!</h1>

<h3>Please enter the relevant information below...</h3>

Copy this API key in the form below: 208302dbe2d07c780ba4de2dc30c56ba

<form method="post" action="home/stockinfo">
    Enter API Key: <input type="text" name="theApiKey" /><br />
    Enter Stock Ticker: <input type="text" name="theTicker" /><br />
    <input type="submit" />
</form>