<h1>Welcome to the WallStreetBets App!</h1>

<h3>Please enter your ticker below...</h3>

<form method="post" action="home/wallstreetbets">
    Enter Your Ticker: <input type="text" name="theTicker" />
    <input type="submit" />
</form>