@model WSB_Object

<h1>Here is the information about your STONK</h1>

<b>Ticker:</b> @Model.ticker
<br />
<b>Sentiment:</b> @Model.sentiment
<br />
<b>Sentiment Score:</b> @Model.sentiment_score
<br />
<b>Number of Comments:</b> @Model.no_of_comments